/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/profile/header.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.profile-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;

    position: fixed;
    left: 0px;
    top: 0px;
}

.back-button{
    display: flex;
    flex-direction: row;
}
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/profile/page.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/


.main-container{
    display: flex;
    flex-direction: column;
    justify-content: 'center';
    align-items: center;
    width: 100vw;
    overflow: scroll;
}

.profile-main{
    width: 80%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.fact-label-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 0px;
}


.profile-h1{
    font-size: 30px;
}

.profile-h2{
    width: 100%;
    font-weight: 600;
    font-size: 10px;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/profile/fact-label.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.fact-label{
    color: #5B5858;
    font-weight: 600;
    font-size: 10px;
}

.fact{
    color: #5B5858;
    font-size: 10px;
}

.fact-pair{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/profile/tag-box.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.tag-box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/profile/text-box.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.text-box{
    background-color: #F8F8F8;
    border-radius: 6px;
    padding: 10px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/components/profile-pic.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.profile-pic{
    border-radius: 50%;
    background-color: #d9d9d9;
    min-width: 4.75rem;
    min-height: 4.75rem;
    background-color: #D9D9D9;
}

.profile-pic-large{
    width: 162px;
    height: 162px;
}

.profile-pic-small{
    width: 4.75rem;
    height: 4.75rem;
}

.profile-pic-super-small{
    width: 53px;
    height: 53px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/nav-bar/nav-link.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.nav-bar-icon{
    width: 32px;
    height: 32px;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    color: #7626AB;
    font-size: 16px;
    font-weight: 200;
}

.find-friends-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.find-friends-span{
    height: 16px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/nav-bar/nav-bar.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;

    /* padding: 40px, 0px, 40px, 0px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F8F8F8;

    position: fixed;
    width: 100%;
    top: 100vh;
    transform: translateY(-100%);

    z-index: 99999;
}


/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/components/tag.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.tag{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 10px;
    padding-right: 10px;


    border-radius: 21px;
    height: 1.5rem;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/components/descriptive-word-tag.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.descriptive-word-tag{
    background-color: #C5B3E6;
    font-size: 10px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/components/interest-tag.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.interest-tag{
    background-color: #E2D1B0;
    font-size: 8px;
}

.interest-icon{
    height: 13px;
}
